:root {
    --img-artist: url("https://images.genius.com/869bb82e4f36f3d5b3e70ad5a099a8e7.1000x1000x1.jpg")
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    /* background-color: rgb(255, 197, 229); */
    /* background-image: url(../images/background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: linear-gradient(270deg, #a2ffe7, #b5ffa2, #fff7a2, #a2c2ff, #d0a2ff, #ffa2f9, #ffa2ab, #ffbaa2, #ffbaa2);
    background-size: 1800% 1800%;
    
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

header {
    margin-top: 5vh;
    display: flex;
    align-items: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    margin: auto;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgba(0, 0, 0, 0.103);
}

 .search-box {
    margin: 10vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


form.artist-search input[type=text] {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    width: 80%;
    background: #fdfdfd;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.artist-search button {
    float: right;
    width: 20%;
    padding: 10px;
    background: rgb(140, 248, 118);
    color: rgb(112, 112, 112);
    font-size: 17px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
.artist-search button:hover {
    background: rgb(109, 255, 79);
}

.artist-search::after {
    content: "";
    clear: both;
    display: table;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-box  h2{
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    margin: 1vh auto 2vh auto;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
}

.song-box {
    display: flex;
    flex-direction: column;
    margin: 2vh;
    padding: 1vh;
    border-radius: 10px;
    width: 50%;
    height: 10%;
    background-color: #bebdbd;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
}

.index {
    font-size: 20px;
    color: rgb(253, 103, 128);
    align-self: center;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
}

.title {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
    align-self: center;
}

.lyrics {
    margin-top:0.5vh;
    font-size :15px;
    color: rgb(122, 252, 252);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.253);
    align-self: center;
    text-transform: uppercase;
}

.artist-image{
    margin-top: 1vh;
    align-self: center;
 
}

img{
    margin: 2vh auto;
    width: 40%;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.158);
}

footer{
    margin-top: 2vh;
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: #ffffff33;
    color: rgb(110, 110, 110);
}